*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Tahoma, sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero, .info, .quote, .sign-up{
    flex: 4 1 80px;
}

.header, .footer{
    background-color: red;
    flex: 1 1 20px;
}

.header, .hero, .footer{
    background-color: #1F2937;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.links{
    display: flex;
    gap: 20px;
}

.link{
    text-decoration: none;
    color: #E5E7EB;
}

.link:hover{
    color: #7aadff;
}

.hero{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.hero-text{
    flex: 0 1 500px;
}

.hero-text h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text p{
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px 0;
}

.hero-img{
    height: 35vh;
    width: auto;
}

.hero-button{
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    transition:background-color .2s;
    transform-origin: center;
    cursor: pointer ;
}

.hero-button:active{
    background-color: #306fd3;
    color: #e6e6e6;
}

.rand-info{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 35px 0;
}

.main-img-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 100px;
}

.img-cont{
    flex: 0 1 170px;
    text-align: center;
}

.info-img{
    border-radius: 20px;
    outline: 3px solid #3882F6;
}

.img-cont p{
    color: #84878c
}