*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Tahoma, sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container div{
    border: 1px solid red;
}

.hero, .info, .quote, .sign-up{
    background-color: blue;
    flex: 4 1 80px;
}

.header, .footer{
    background-color: red;
    flex: 1 1 20px;
}

.header, .hero{
    background-color: #1F2937;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 300px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.links{
    display: flex;
    gap: 20px;
}

.link{
    text-decoration: none;
    color: #c5c5c5;
}

